[package]
name = "server"
edition = "2021"

[dependencies]
sdk = { workspace = true, features = ["tracing"] }
client-sdk = { workspace = true, features = ["risc0", "rest"] }
hyli-modules = { workspace = true }
contract1 = { workspace = true, features = ["client"] }
# Remove features if you want reproducible builds with docker
contracts = { workspace = true, features = ["nonreproducible"] }

risc0-zkvm = { workspace = true, features = ["prove", "std"] }

config = { workspace = true, default-features = false, features = ["toml"] }
axum = { workspace = true }
tokio = { workspace = true, features = ["full"] }
serde = { workspace = true, features = ["derive", "std"] }
serde_json = { workspace = true }
thiserror = { workspace = true }
tower-http = { workspace = true, features = ["cors"] }
anyhow = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
hex = { workspace = true }
sha2 = { workspace = true }
hmac = { workspace = true }
secp256k1 = { workspace = true, features = ["hashes"] }

rand = { workspace = true }
borsh = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
clap = { workspace = true }
utoipa-axum = { workspace = true }
utoipa = { workspace = true }

opentelemetry = { workspace = true }
opentelemetry-prometheus = { workspace = true }
opentelemetry_sdk = { workspace = true }
prometheus = { workspace = true }


[features]
nonreproducible = ["contracts/nonreproducible"]
